<div class="book-list-container" fxLayout="column" fxLayoutGap="20px">
  <h2>Book List</h2>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" (click)="openBookForm()">
      Add New Book
    </button>
  </div>
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <table
    mat-table
    [dataSource]="books"
    class="mat-elevation-z8"
    *ngIf="!isLoading"
  >
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let book">{{ book.price | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let book">
        <button mat-icon-button color="primary" (click)="openBookForm(book)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteBook(book.id!)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="totalBooks"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    aria-label="Select page of books"
  >
  </mat-paginator>
</div>
